body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #ec0bbc;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #c008d1;
  margin-bottom: 30px;
}

form {
  background-color: #d21beb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #b29eb4;
  max-width: 600px;
  margin: auto;
}

fieldset {
  margin-bottom: 15px;
  border: 1px solid #a01f8f;
  padding: 10px;
}

legend {
  font-weight: bold;
}

button {
  padding: 10px 15px;
  background-color: #9d2a8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resultat {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #e41fb9;
}
.correct {
  background-color: #9c1486; /* Bleu clair */
}

.incorrect {
  background-color: #7e1263; /* Rouge clair */
}
    
#resultat.affiche {
 display: block;
}