body {
  background-color: #f3e5f5; /* Violet clair, pastel */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin:1000000;
}

.form-container {
  background-color: #170a1a; /* Violet pastel */
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

h2 {
  text-align: center;
  color: #691b9ae1; /* Violet foncé */
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #4a148c;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ab47bc;
  border-radius: 6px;
  background-color: #fff;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

textarea {
  resize: vertical; /* Permet de redimensionner uniquement verticalement */
}

input:focus,
textarea:focus {
  border-color: #7b1fa2;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #7b1fa2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9c27b0;
}

#examLinkContainer {
  margin-top: 30px;
  text-align: center;
}

#examLinkContainer a {
  color: #7b1fa2;
  font-weight: bold;
  text-decoration: none;
}

#examLinkContainer a:hover {
  text-decoration: underline;
}

