body {
    

      background-image: url("background.png");
      background-size: cover;        /* L'image couvre tout l'écran */
      
      

    font-family: Arial, sans-serif;
    background-color:#ad30a7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgb(240, 26, 194);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(202, 15, 161, 0.1);
    width: 400px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#64054f;
    color: rgb(243, 246, 253);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #a3007a;
}

